# Server
PORT=5000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=airb_employee_db

# JWT
JWT_SECRET=your-secret-key-here

# Google Auth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_ANDROID_KEY=your-google-android-key
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Uploads
UPLOADS_DIR=./uploads